.ibox {
  margin-top: 10px;

  background: #fff;

  border-radius: 8px;
  border: 1px solid #ccc;
}
.ibox:hover {
  box-shadow: 0px 4px 12px 0px rgba(17, 35, 58, 0.1);
}
.ibox-content {
  padding: 40px;
}

.ibox-code {
  overflow: hidden;
  height: 0;
  padding: 0 !important;
}
.show {
  height: auto;
}

/* 重写markdown样式 */
.language-html {
  border-radius: 0 !important;
  margin: 0 !important;
}


.ibox-footer {
  height: 80px;
  background: #f0f3f8;
  box-shadow: 0px 4px 12px 0px rgba(17, 35, 58, 0.1);
  border-radius: 0px 0px 8px 8px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}
.ibox-footer:hover > .btn > span {
  color: #5075ff;
}

.ibox-footer > .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.ibox-footer > .btn > span {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ccc;
}
