.ibox {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.ibox:hover {
  box-shadow: 0px 4px 12px 0px rgba(17, 35, 58, 0.1);
}
.ibox-content {
  padding: 40px;
}

.ibox-code {
  position: relative;
  overflow: hidden;
  height: 0;
  padding: 0 !important;
  transition: height 0.5s;
  background-color: #282c34;
}
.ibox-tip {
  position: absolute;
  top: 0;
}

/* 重写markdown样式 */
.language-tip {
  margin: 40px;
  padding: 10px;
  background-color: #fff !important;
  border-radius: 8px !important;
  border: 1px solid #ccc;
}
.language-html {
  border-radius: 0 !important;
  margin: 0 !important;
}

.ibox-footer {
  height: 80px;
  background: #f0f3f8;
  box-shadow: 0px 4px 12px 0px rgba(17, 35, 58, 0.1);
  border-radius: 0px 0px 8px 8px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}
.ibox-footer:hover > .btn > span {
  color: #5075ff;
}

.ibox-footer > .btn {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.ibox-footer > .btn > span {
  position: relative;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ccc;
}
.ibox-footer > .hide > span:before {
  position: absolute;
  left: -28px;
  top: 5px;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 0 9px 13px 9px;
  border-color: transparent transparent #ccc transparent;
}
.ibox-footer:hover > .hide > span:before {
  position: absolute;
  left: -28px;
  top: 5px;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 0 9px 13px 9px;
  border-color: transparent transparent #5075ff transparent;
}
.ibox-footer > .show > span:before {
  position: absolute;
  left: -28px;
  top: 5px;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 13px 9px 0 9px;
  border-color: #ccc transparent transparent transparent;
}
.ibox-footer:hover > .show > span:before {
  position: absolute;
  left: -28px;
  top: 5px;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 13px 9px 0 9px;
  border-color: #5075ff transparent transparent transparent;
}
.ibox-footer > .visible {
  display: flex;
}

/* 初始化样式 */
